/* Stylesheet for experience.html */

/* Source of box layout from https://www.w3schools.com/html/html_layout.asp*/

/* Source of @media rule https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

@media only screen and (min-width: 1100px) {
* {box-sizing: border-box;
}

img	{display: block;
	float: left;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;	
	width: 255px;
	height: 276px;
}

aside {float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 20px;
	width: 30%;
}

article {float: left;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 0px;
	padding-bottom: 20px;
	width: 70%;
}

section {margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 100px;
	margin-right: 100px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}

section:after {content: "";
  display: table;
  clear: both;
}

}

@media only screen and (max-width: 1100px) {

img {display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 255px;
	height: 276px;
}

aside {
	padding-top: 0px;
	text-align: center;
}

article {
	padding-top: 0px;
	padding-bottom: 20px;
	text-align: center;
}

section {margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 100px;
	margin-right: 100px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}

section:after {content: "";
  display: table;
  clear: both;
}

}

a.links {text-decoration: none;
	color: rgba(255, 99, 100, 0.5);
}

body {font-family: Arial, Helvetica, sans-serif;
	color: #666;
	background-color:none;
}

.header {background-color: #111111;
	opacity: 0.5;
	padding: 5px;
	text-align: center;
	font-size: 1.5em;
	color: white;
}`
